<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<blc:head pageTitle="${product.title + ' - SAGE Publications'}" />

<body>
    <div id="notification_bar"></div>
    <header th:substituteby="layout/partials/header" />

    <div id="content" class="width_setter group" role="main">
    

        
        <section id="left_column" th:object="${product}">
          
          <div id="product_main_image" th:if="*{media['primary']}">
              <a>
                  <img th:src="@{*{media['primary'].url}}" alt='' align="left" id="main_image" />
              </a>
          </div>
        
            <div id="product_content" class="product_container">
                <h2 th:text="*{title}"></h2>
                
                <div id="maker" th:text="*{manufacturer}"></div>
                
                
                <div blc:price="*{defaultSku.retailPrice}" th:classappend="*{defaultSku.onSale}? 'has-sale'"></div>
                
                <div class="product-options" th:substituteby="catalog/partials/productOptions"/>                                
                
                <blc:form method="POST" th:action="@{/cart/add}">
                    <div class="product-option-nonjs" th:each="productOption : *{productOptions}" th:object="${productOption}">
                        <div class="form50">
                            <label th:text="*{label}"></label>
                            <select th:name="${'itemAttributes[' + productOption.attributeName + ']'}">
                                <option th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:text="*{attributeValue}"></option>
                            </select>
                        </div>
                    </div>
                    
                    <div th:utext="*{description}" id="description"></div>
                    
                    <div th:class="*{'productActions' + id}">
                        <div class="in_cart" th:classappend="${!cart.containsSku(#object.defaultSku)}? ' hidden'"><a class="fancycart fancybox.ajax big-button gray-button" th:href="@{/cart}">In Cart!</a></div>
                        <div class="add_to_cart" th:classappend="${cart.containsSku(#object.defaultSku)}? ' hidden'">
                            <input type="hidden" name="productId" th:value="*{id}" />
                            <input type="hidden" name="quantity" value="1" />
                            <input type="submit" class="addToCart big red" th:value="#{product.buyNow}"/>
                        </div>
            <p class="error" th:if="${param.errorMessage}" th:text="${param.errorMessage[0]}"></p>
                    </div>
                </blc:form>
    
                <div th:if="${customer.loggedIn}" th:remove="tag">

                    <blc:form method="POST" th:action="@{/account/wishlist/add}">
                        <div class="product-option-nonjs" th:each="productOption : *{productOptions}" th:object="${productOption}">
                            <div class="form50">
                                <label th:text="*{label}"></label>
                                <select th:name="${'itemAttributes[' + productOption.attributeName + ']'}">
                                    <option th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:text="*{attributeValue}"></option>
                                </select>
                            </div>
                        </div>
                        <div th:class="${'productActions' + product.id}">

                            <blc:named_order orderVar="wishlist" orderName="wishlist" />

                            <div class="in_wishlist" th:classappend="${!wishlist.containsSku(product.defaultSku)}? ' hidden'">
                                <a class="inWishlist small-button gray-button" th:href="@{/account/wishlist}">In Wishlist!</a>
                            </div>
                            <div class="add_to_wishlist" th:classappend="${wishlist.containsSku(product.defaultSku)}? ' hidden'">
                                <input type="hidden" name="productId" th:value="*{id}" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="submit" class="addToWishlist small dark" value="+ Add to Wishlist" />
                            </div>
                        </div>
                    </blc:form>
                </div>
                    
                
            </div>
            
        </section>
      
    </div>
    
    <footer th:substituteby="layout/partials/footer" />
    
</body>
</html>
